@import "../../styles/variables";
@import "../../styles/mixins";

.layout_content {
  height: 100%;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;

  & section {
    height: 100%;
  }
}

.main {
  background-color: $blue_1;
  width: 100%;

  &.not_authenticated {
    height: 100%;
  }
}
