@import "./variables";
@import "./lightstyle";
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/@creativebulma/bulma-tooltip/src/sass/index.sass";

.is-fullwidth {
  width: 100% !important;
}

.is-fullheight {
  height: 100% !important;
}

html,
body {
  overflow-y: hidden;
  padding: 0;
  margin: 0;
  height: 100%;
}
